<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @shop.link %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @shop.phone_number %>
</p>

<p>
  <strong>Image:</strong>
  <%= @shop.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @shop.user %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
